svg#Sedan_-_INT.flat-car.interior(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 324 484')
	g.panel-0(data-panel='rf_seat', data-name='Right Front Seat')
		polygon.panel-0(points='210.16 174.36 183.26 174.36 183.83 185.16 209.6 185.14 210.16 174.36')
		polygon.panel-0(points='208.77 200.87 209.58 185.56 183.85 185.56 184.58 200.87 208.77 200.87')
		path.panel-0(d='M218.5,204.92a3.88,3.88,0,0,0-4.06-3.65h-35a3.89,3.89,0,0,0-4.06,3.69L174,212.8a2.35,2.35,0,0,0,1.91,2.74l9.58,1.64a6.44,6.44,0,0,1-.66-2.83v-7a1.25,1.25,0,0,1,1.24-1.24h20.21a1.25,1.25,0,0,1,1.24,1.24v7.76a5.62,5.62,0,0,1-.41,2.12l10.49-1.79a2.34,2.34,0,0,0,1.93-2.61Z')
		path.panel-0(d='M207.1,207.33a.84.84,0,0,0-.84-.84H186.05a.84.84,0,0,0-.84.84v7a6.09,6.09,0,0,0,6.08,6.08h10.47a5.34,5.34,0,0,0,5.34-5.34Z')
		path.panel-0(d='M210.57,174.15l-1.4,26.72h5.49c9-19.61,5.28-29.11,3.24-32.29-1.46-2.29-3.11-3.1-4.07-3.1h-.1C214.24,167.53,213.84,169.84,210.57,174.15Z')
		path.panel-0(d='M210.27,173.87c3.3-4.35,3.58-6.61,3-8.64s-6.63-3.9-14.27-4.14c-.86-.06-1.72-.09-2.56-.09-1.15,0-2.32.06-3.46.17-7,.42-12,2.06-12.63,4.06-.66,2.27-.44,4.52,2.69,8.64Z')
		path.panel-0(d='M184.18,200.87l-1.38-26.64,0,0c-3.31-4.34-3.37-6.67-3-8.48v-.23l-.27,0c-1,0-2.62.82-4.1,3.14-2.05,3.21-5.84,12.77,3.18,32.37Z')
	path.panel-0(data-panel='cargo_area', data-name='Cargo Area', d='M107.1,300.64s19.78,5.8,55,5.8,55-5.8,55-5.8c.07,22.86-8.17,44.42-8.55,44.95a3,3,0,0,1-1.49,1.11,138.33,138.33,0,0,1-45.4,7.86,136.6,136.6,0,0,1-44.66-7.5,2.94,2.94,0,0,1-1.51-1.12C115.18,345.4,106.12,323.33,107.1,300.64Z')
	path.panel-0(data-panel='console', data-name='Console', d='M150.67,144.15l3.94,11.64-.09,37.32a2.22,2.22,0,0,0,2.22,2.22h10.78a2.22,2.22,0,0,0,2.22-2.22V155.75l3.68-11.58h-3.73l-3.24,10.46a1.65,1.65,0,0,1-1.58,1.16h-5.78a1.65,1.65,0,0,1-1.57-1.15l-3.34-10.47Z')
	g.panel-1(data-panel='headliner', data-name='Headliner')
		path.panel-0(d='M157.56,206.35a1.4,1.4,0,0,0-1.4,1.4v4.53a5.09,5.09,0,0,0,4.81,5.31h2a5.09,5.09,0,0,0,4.81-5.31v-4.53a1.4,1.4,0,0,0-1.4-1.4Z')
		rect.panel-0(x='161.77', y='200.9', width='0.53', height='2.81')
		rect.panel-0(x='157.52', y='202.01', width='0.53', height='2.81', transform='translate(-97.62 171.15) rotate(-45)')
		rect.panel-0(x='165.85', y='202.01', width='0.53', height='2.81', transform='translate(139.74 464.71) rotate(-135)')
		rect.panel-0(x='161.6', y='220.05', width='0.53', height='2.81', transform='translate(323.72 442.9) rotate(180)')
		rect.panel-0(x='165.85', y='218.94', width='0.53', height='2.81', transform='translate(439.38 258.7) rotate(135)')
		rect.panel-0(x='157.52', y='218.94', width='0.53', height='2.81', transform='translate(202.02 -47.03) rotate(45)')
		rect.panel-0(x='152.73', y='210.48', width='0.53', height='2.81', transform='translate(-58.89 364.87) rotate(-90)')
		rect.panel-0(x='170.82', y='210.48', width='0.53', height='2.81', transform='translate(-40.8 382.96) rotate(-90)')
	path.panel-0(data-panel='lr_carpet', data-name='Left Rear Carpet', d='M106.27,224.83v12.54a4.94,4.94,0,0,0,4.94,4.94h32.26a4.94,4.94,0,0,0,4.94-4.94V224.83Z')
	path.panel-0(data-panel='rr_carpet', data-name='Right Rear Carpet', d='M175.3,224.83v12.54a4.94,4.94,0,0,0,4.94,4.94H212.5a4.94,4.94,0,0,0,4.94-4.94V224.83Z')
	polygon.panel-0(data-panel='lf_door_panel', data-name='Left Front Door Panel', points='75.5 206.87 98.6 153.43 98.6 160.95 89.25 196.66 79.04 208.71 75.5 206.87')
	polygon.panel-0(data-panel='rf_door_panel', data-name='Right Front Door Panel', points='247.78 206.87 224.68 153.43 224.68 160.95 234.04 196.66 244.24 208.71 247.78 206.87')
	polygon.panel-0(data-panel='lr_door_panel', data-name='Left Rear Door Panel', points='75.5 283.08 98.6 229.64 98.6 237.16 89.25 272.87 79.04 284.92 75.5 283.08')
	polygon.panel-0(data-panel='rr_door_panel', data-name='Right Rear Door Panel', points='247.78 283.08 224.68 229.64 224.68 237.16 234.04 272.87 244.24 284.92 247.78 283.08')
	path.panel-0(data-panel='rf_carpet', data-name='Right Front Carpet', d='M213.3,157.32l-36.17-.18a2.64,2.64,0,0,1-2.49-3.52l2.85-7.09h37.75l.14,8.67A2.09,2.09,0,0,1,213.3,157.32Z')
	path.panel-0(data-panel='lf_carpet', data-name='Left Front Carpet', d='M148.9,153.62,146,146.53h-1.92c-1.83,3.26-8.23,5.67-15.88,5.67s-14.06-2.41-15.88-5.67H108.3l-.14,8.67a2.09,2.09,0,0,0,2.09,2.12l36.17-.18A2.64,2.64,0,0,0,148.9,153.62Z')
	path.panel-0(data-panel='dash', data-name='Dash', d='M128.24,137.08c8.1,0,14.81,2.7,16.16,6.25h70.24l-2.14-19s-11.19-12.26-50.61-13.14-51.43,13.14-51.43,13.14-1.6,6.58-2.31,19h3.93C113.44,139.78,120.15,137.08,128.24,137.08Z')
	ellipse.panel-0(data-panel='steering_wheel', data-name='Steering Wheel', cx='128.08', cy='144.57', rx='13.44', ry='5.72')
	polygon.panel-0(data-panel='left_sun_visor', data-name='Left Sun Visor', points='107.57 102.55 107.57 105.29 113.42 111.38 137.37 111.38 137.37 102.55 107.57 102.55')
	polygon.panel-0(data-panel='right_sun_visor', data-name='Right Sun Visor', points='214.47 102.55 214.47 105.29 208.63 111.38 184.67 111.38 184.67 102.55 214.47 102.55')
	path.panel-0(data-panel='rear_view_mirror', data-name='Rear View Mirror', d='M169.08,102.68h-6.85V99.39h-.35v3.29h-7.16a2,2,0,0,0-2,2v3H171.4V105A2.32,2.32,0,0,0,169.08,102.68Z')
	g.panel-0(data-panel='lf_seat', data-name='Left Front Seat')
		polygon.panel-0(points='141.03 174.36 114.12 174.36 114.69 185.16 140.46 185.14 141.03 174.36')
		polygon.panel-0(points='139.64 200.87 140.44 185.56 114.72 185.56 115.44 200.87 139.64 200.87')
		path.panel-0(d='M149.36,204.92a3.88,3.88,0,0,0-4.06-3.65h-35a3.89,3.89,0,0,0-4.06,3.69l-1.44,7.84a2.35,2.35,0,0,0,1.91,2.74l9.58,1.64a6.44,6.44,0,0,1-.66-2.83v-7a1.25,1.25,0,0,1,1.24-1.24h20.21a1.25,1.25,0,0,1,1.24,1.24v7.76a5.62,5.62,0,0,1-.41,2.12l10.49-1.79a2.34,2.34,0,0,0,1.93-2.61Z')
		path.panel-0(d='M138,207.33a.84.84,0,0,0-.84-.84H116.92a.84.84,0,0,0-.84.84v7a6.09,6.09,0,0,0,6.08,6.08h10.47a5.34,5.34,0,0,0,5.34-5.34Z')
		path.panel-0(d='M141.43,174.15,140,200.87h5.49c9-19.61,5.28-29.11,3.24-32.29-1.46-2.29-3.11-3.1-4.07-3.1h-.1C145.1,167.53,144.7,169.84,141.43,174.15Z')
		path.panel-0(d='M141.14,173.87c3.3-4.35,3.58-6.61,3-8.64s-6.63-3.9-14.27-4.14c-.86-.06-1.72-.09-2.56-.09-1.15,0-2.32.06-3.46.17-7,.42-12,2.06-12.63,4.06-.66,2.27-.44,4.52,2.69,8.64Z')
		path.panel-0(d='M115,200.87l-1.38-26.64,0,0c-3.31-4.34-3.37-6.67-3-8.48v-.23l-.27,0c-1,0-2.62.82-4.1,3.14-2.05,3.21-5.84,12.77,3.18,32.37Z')
	polygon.panel-0(points='151.33 282.3 151.33 248.16 173.49 248.19 173.56 282.33 151.33 282.3')
	path.panel-0(d='M108.66,293.58a2.8,2.8,0,0,1-2.33-3c.38-5.3,3.95-8,10.61-8h.33c5.29.07,22.89.11,44.85.11s39.56,0,44.85-.11h.33c6.66,0,10.23,2.69,10.61,8a2.8,2.8,0,0,1-2.33,3l-9.83,1.71v-6.45a1.23,1.23,0,0,0-1.27-1.11H186a1.07,1.07,0,0,0-1.16,1v6.49l-13.28-.05c0-.65,0-2.89,0-4.43a1,1,0,0,0-1-1H153.71a1,1,0,0,0-1,.92c0,.64,0,3.55.06,4.46l-13.26.05v-6.44a1.09,1.09,0,0,0-1.17-1H119.69a1.18,1.18,0,0,0-1.16,1.16l0,6.37Z')
	path.panel-0(d='M158.34,285.5h4.29a3.8,3.8,0,0,1,3.8,3.8v9.92a4.34,4.34,0,0,1-4.34,4.34h-3.75a.55.55,0,0,1-.55-.55v-17A.55.55,0,0,1,158.34,285.5Z', transform='translate(456.64 132.43) rotate(90)')
	path.panel-0(d='M123.35,284.5h7.15a4.9,4.9,0,0,1,4.9,4.9V299a5.58,5.58,0,0,1-5.58,5.58h-6.46a.76.76,0,0,1-.76-.76V285.26A.76.76,0,0,1,123.35,284.5Z', transform='translate(423.56 165.57) rotate(90)')
	path.panel-0(d='M189.63,284.47h7.15a4.9,4.9,0,0,1,4.9,4.9V299a5.59,5.59,0,0,1-5.59,5.59h-6.46a.76.76,0,0,1-.76-.76V285.23A.76.76,0,0,1,189.63,284.47Z', transform='translate(489.81 99.26) rotate(90)')
	g.panel-0(data-panel='rr_seat', data-name='Right Rear Seat')
		path.panel-0(d='M209.26,282.28l.95-25.88a2.07,2.07,0,0,0,.18-.31c2.81-3.64,3-5.71,2.31-7.85l-.05-.11v-.06l.21,0c.81,0,2.11.69,3.35,2.62,1.59,2.49,6.05,12.18-3.28,32.49Z')
		polygon.panel-0(points='185.74 256.56 209.8 256.56 209.41 267.13 185.2 267.25 185.74 256.56')
		polygon.panel-0(points='185.18 267.65 209.4 267.53 208.86 282.24 184.43 282.33 185.18 267.65')
		polygon.panel-0(points='173.96 282.33 174.01 248.07 185.78 248.13 184.03 282.33 173.96 282.33')
		path.panel-0(d='M186.18,248.13l26-.06a1.45,1.45,0,0,1,.12.28c.65,2.13.45,4.1-2.49,7.81l-24.07.1Z')
	g.panel-0(data-panel='lr_seat', data-name='Left Rear Seat')
		path.panel-0(d='M111.3,283.15c-6.14-13.39-7.23-25.41-2.91-32.16,1.37-2.15,2.85-2.92,3.71-2.94a1.71,1.71,0,0,0-.07.19c-.71,2.32-.52,4.42,2.5,8.23l1.09,25.8Z')
		polygon.panel-0(points='115.47 267.06 114.94 256.6 138.94 256.6 139.5 267.06 115.47 267.06')
		polygon.panel-0(points='116.03 282.24 115.49 267.46 139.52 267.46 140.31 282.36 116.03 282.24')
		polygon.panel-0(points='138.9 248.13 150.93 248.07 150.93 282.3 140.71 282.36 138.9 248.13')
		path.panel-0(d='M114.83,256.2c-3.19-4.05-3-6-2.41-7.84a1.41,1.41,0,0,1,.12-.28l26,.06.43,8.06Z')
