.modal.fade.lead_edit_mdl_popup#CHOLA4W34544EditMdlPopup(role="dialog" data-backdrop="static" data-keyboard="false")
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title Edit Page
                button.close.align-right(type='button', data-dismiss='modal') ×
            .modal-body