extends ../layout/report-preview-layout 
block content
	.row.mg-0
		.col-md-12.col-xs-12
			.report-view.col-md-12.col-xs-12.pad0
				header.header-info.col-md-12.col-xs-12.pad0
					.logo.col-md-3.col-xs-12
						img(src='/images/report-logo.png', width="100%", alt='Logo')
					.customer-section.col-md-9.col-xs-12.pad0
						.header-detail-section.col-md-12.col-xs-12.pad0.align-right
							.col-md-5.col-xs-12.bg-yellow
								p.pd5
									span ENGINE&emsp;:
									span.header-value F875MDKSLS65823
							.col-md-7.col-xs-12.bg-blue
								p.pd5
									span CHASSIS&emsp;:
									span.header-value MAKD907NKLDS75MDKSLS65823
						.header-detail.col-md-12.col-xs-12.align-right
							p.pd5.align-right INSP. DATE &emsp;: &emsp;
								b 13/11/2019
							.col-md-3.col-xs-12.pad0
								p.pd5
									span REPORT ID&emsp;:
									span.description 45123
							.col-md-4.col-xs-12.pad0
								p.pd5
									span LOAN NO &emsp;:
									span.description DKSLS65823
							.col-md-5.col-xs-12.pad0
								p.pd5
									span LOCATION &emsp;:
									span.description CHENNAI
				section.vechile-info.col-md-12.col-xs-12.pad0
					.col-md-12.col-xs-12
						p.pd-tp-10
							span.about-me.col-md-4.col-xs-12.pd-5 MR.ARUNKUMAR
							span.about-me.col-md-4.col-xs-12.pd-5 Insurance surveyor
							span.about-me.col-md-4.col-xs-12.pd-5 
								span.g-blue-clr License No : 
								| IRDA / IND / SLA - 123456
					.col-md-12.col-xs-12.vehicle-description.align-center
						h4.font-wt-6.mg-tp-10 Your Otograde Electronic Inspection Report
				section.vehicle-description.col-md-12.col-xs-12.pad0
					.col-md-12.col-xs-12.bg-light-sky-blue.align-center
						h3.mg-tp-10.font-wt-6.text-uc 2011/03&emsp;&emsp;Maruti Alto&emsp;&emsp;LXI 800cc&emsp;&emsp;TN02 AR 6903
					.col-md-12.col-xs-12.vehicle-info-detail.pad0
						.col-md-5.col-xs-12.pad0
							span.col-md-3.col-xs-6 23079 : 
								span.g-blue-clr KM
							span.col-md-2.col-xs-6 Manual
							span.col-md-3.col-xs-6 RC : 
								span.g-blue-clr Yes
							span.col-md-4.col-xs-6 Power Steering
						.col-md-7.col-xs-12.pad0
							span.col-md-2.col-xs-6 Hard Top
							span.col-md-4.col-xs-6 
								span.g-blue-clr Ins.Dt : 
								| 23/11/2019
							span.col-md-4.col-xs-6 
								span.g-blue-clr Reg.Dt : 
								| 23/11/2019
							span.col-md-2.col-xs-6
								span.g-blue-clr Retail
					.col-md-12.col-xs-12.vehicle-info-detail.pad0.align-center
						span.col-md-5.col-xs-12
							span.g-blue-clr Application Name&emsp; : &emsp;
							| AKKKKKKKKK KUMAR
						span.col-md-6.col-xs-12
							span.g-blue-clr Lender&emsp; : &emsp;
							| Mahindra Finance
						span.col-md-1.col-xs-12
							span.g-blue-clr Private
				section.report-image-section.col-md-12.col-xs-12.pad0
					.image-view-section.col-md-6.col-xs-12.pd-lt-0
						img(src='/images/sample-image.png', height="100%", width= '100%', alt='AdminLTE Logo')
					.image-view-section.col-md-6.col-xs-12
						.col-md-12.col-xs-12.pad0
							.icon-image
								img(src='/images/car-icon.png')
								p Running Condition
							.icon-image
								img(src='/images/car-engine.jfif')
								p Engine Start
							.icon-image
								img(src='/images/car-demage.png')
								p Major Accident in Front
							.icon-image
								img(src='/images/car-icon.png')
								p No Damages
							.icon-image
								img(src='/images/owner.png', alt='AdminLTE Logo')
								p Single Owner
							.icon-image
								img(src='/images/key.jfif', alt='AdminLTE Logo')
								p Available
							.icon-image
								img(src='/images/tyres.jpg', alt='AdminLTE Logo')
								p Average
							.icon-image
								img(src='/images/diesel.png', alt='AdminLTE Logo')
								p Diesel
							.icon-image
								img(src='/images/battery.png', alt='AdminLTE Logo')
								p Diesel
							.icon-image
								img(src='/images/car-paint.jfif', alt='AdminLTE Logo')
								p Color : Silver
						.col-md-12.col-xs-12.pad0
							span.col-md-5.col-xs-5.g-blue-clr Overall Conditions
							span.col-md-1.col-xs-1.g-blue-clr :
							span.col-md-6.col-xs-6 Good Working Condition
						.col-md-12.col-xs-12.pad0.mg-tp-10
							span.col-md-5.col-xs-5.g-blue-clr Valuation Price
							span.col-md-1.col-xs-1.g-blue-clr :
							span.col-md-6.col-xs-6 10,00,000/-
						.col-md-12.col-xs-12.pad0.mg-tp-10
							span.col-md-5.col-xs-5.g-blue-clr Ex Show Room Price
							span.col-md-1.col-xs-1.g-blue-clr :
							span.col-md-6.col-xs-6 5,00,000/- 
								span.g-blue-clr @ 
								| 20/12/2019
						.col-md-12.col-xs-12.pad0.mg-tp-10
							span.col-md-5.col-xs-5.g-blue-clr Police Reocrd
							span.col-md-1.col-xs-1.g-blue-clr :
							span.col-md-6.col-xs-6.process-notok
									span.clr-red Not Found&emsp;
									span.deleteicon
										i.fas.fa-times
				section.col-md-12.col-xs-12
					.col-md-12.col-xs-12.rating-image-section.pad0.mg-tp-10
						.col-md-6.col-xs-12.pd5
							.col-md-3.col-xs-3.pad0.pd-rt-5
								.col-md-12.col-xs-12.pad0
									.a-gear
										img(src='/images/gear-1.0.png', alt='Image')
									.rating-details
										p.a-unit.mg-tp-10.g-h5.font-wt-6 1.0
										p.a-unit.p5.font-wt-4 Max
										p.a-unit.p5.font-wt-5 5.0
									.title
										p.p4.font-wt-4 Interior
							.col-md-3.col-xs-3.pad0.pd-rt-5
								.col-md-12.col-xs-12.pad0
									.a-gear
										img(src='/images/gear-1.5.png', alt='Image')
									.rating-details
										p.a-unit.mg-tp-10.g-h5.font-wt-6 1.5
										p.a-unit.p5.font-wt-4 Max
										p.a-unit.p5.font-wt-5 5.0
									.title
										p.p4.font-wt-4 Exterior
							.col-md-3.col-xs-3.pad0.pd-rt-5
								.col-md-12.col-xs-12.pad0
									.a-gear
										img(src='/images/gear-2.0.png', alt='Image')
									.rating-details
										p.a-unit.mg-tp-10.g-h5.font-wt-6 2.0
										p.a-unit.p5.font-wt-4 Max
										p.a-unit.p5.font-wt-5 5.0
									.title
										p.p4.font-wt-4 AC/Cooling
							.col-md-3.col-xs-3.pad0
								.col-md-12.col-xs-12.pad0
									.a-gear
										img(src='/images/gear-2.5.png', alt='Image')
									.rating-details
										p.a-unit.mg-tp-10.g-h5.font-wt-6 2.5
										p.a-unit.p5.font-wt-4 Max
										p.a-unit.p5.font-wt-5 5.0
									.title
										p.p4.font-wt-4 Document
						.col-md-6.col-xs-12.pd5
							.col-md-3.col-xs-3.pad0.pd-rt-5
								.col-md-12.col-xs-12.pad0
									.a-gear
										img(src='/images/gear-3.0.png', alt='Image')
									.rating-details
										p.a-unit.mg-tp-10.g-h5.font-wt-6 3.0
										p.a-unit.p5.font-wt-4 Max
										p.a-unit.p5.font-wt-5 5.0
									.title
										p.p4.font-wt-4 Vehicle Condition
							.col-md-3.col-xs-3.pad0.pd-rt-5
								.col-md-12.col-xs-12.pad0
									.a-gear
										img(src='/images/gear-3.5.png', alt='Image')
									.rating-details
										p.a-unit.mg-tp-10.g-h5.font-wt-6 3.5
										p.a-unit.p5.font-wt-4 Max
										p.a-unit.p5.font-wt-5 5.0
									.title
										p.p4.font-wt-4 Test Drive
							.col-md-3.col-xs-3.pad0.pd-rt-5
								.col-md-12.col-xs-12.pad0
									.a-gear
										img(src='/images/gear-4.0.png', alt='Image')
									.rating-details
										p.a-unit.mg-tp-10.g-h5.font-wt-6 4.0
										p.a-unit.p5.font-wt-4 Max
										p.a-unit.p5.font-wt-5 5.0
									.title
										p.p4.font-wt-4 Tyre
							.col-md-3.col-xs-3.pad0
								.col-md-12.col-xs-12.pad0
									.a-gear
										img(src='/images/gear-5.0.png', alt='Image')
									.rating-details
										p.a-unit.mg-tp-10.g-h5.font-wt-6 5.0
										p.a-unit.p5.font-wt-4 Max
										p.a-unit.p5.font-wt-5 5.0
									.title
										p.p4.font-wt-4 Electric Functions
						.col-md-12.col-xs-12.align-left.pd-tp-10
							p
								span.excellent Excellent : 5
								span.good Good : 4  
								span.average Average :3
								span.fair Fair : 2 
								span.poor Very Poor : 1 
								span.scrap Scrap : S
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.ownership-detail-section.pad0
						table.col-md-12.col-xs-12
							thead
								tr
									th.col-md-6.col-xs-6
										h4.font-wt-6 OTOgrade Ownership History
										p The number of owners is estimated
									th.col-md-2.col-xs-2
										h4.font-wt-6 Owner 1
									th.col-md-2.col-xs-2
										h4.font-wt-6 Owner 2
									th.col-md-2.col-xs-2 
										h4.font-wt-6 Owner 3
							tbody
								tr
									td  Year Purchased
									td  2011
									td  No Data
									td  No Data
								tr
									td  Type of Owner
									td  Private
									td  No Data
									td  No Data
								tr
									td  Estimated years of Ownership
									td   08 Years
									td  No Data
									td  No Data
								tr
									td  Hypotheciation Bank Name
									td  Private
									td  No Data
									td  No Data
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.parivahan-detail-section.pad0
						.col-md-12.col-xs-12.parivahan-detail-header.pad0
							.col-md-9.col-xs-12.parivahan-detail-section.pad0
								h3 PARIVAHAN details
							.col-md-3.col-xs-12.process-ok.align-right
								h4
									span Data Found&emsp;
									span.tickicon
										i.fas.fa-check
							.col-md-12.col-xs-12.align-center.pad0.br-blue
								h5 National Register e Services / Vehicle Details Showing in Registering Authority
							.col-md-12.col-xs-12.parivahan-table-section.pad0
								.col-md-6.col-xs-12.pad0
									table.col-md-12.col-xs-12
										tbody
											tr
												td.g-blue-clr Owner Name
												td.g-blue-clr :
												td SUGUNA SEELA RAO K
											tr
												td.g-blue-clr Purchase Deivery Date
												td.g-blue-clr :
												td 6/21/2011
											tr
												td.g-blue-clr Maker
												td.g-blue-clr :
												td MARUTI
											tr
												td.g-blue-clr Maker Model
												td.g-blue-clr :
												td ALTO LXI
											tr
												td.g-blue-clr Laden Weight (kG)
												td.g-blue-clr :
												td 0
											tr
												td.g-blue-clr Sleeper Capacity
												td.g-blue-clr :
												td - 
											tr
												td.g-blue-clr Registrations Date
												td.g-blue-clr :
												td 6/21/2011
								.col-md-6.col-xs-12.pad0
									table.col-md-12.col-xs-12
										tbody
											tr
												td.g-blue-clr Engine NO
												td.g-blue-clr :
												td SUGUNA SEELA RAO K
											tr
												td.g-blue-clr Body Type
												td.g-blue-clr :
												td -
											tr
												td.g-blue-clr Unladen Weight
												td.g-blue-clr :
												td 0
											tr
												td.g-blue-clr Mfg Year
												td.g-blue-clr :
												td 6/20/2016
											tr
												td.g-blue-clr Chassis NO
												td.g-blue-clr :
												td 12
											tr
												td.g-blue-clr Vehicle  Category
												td.g-blue-clr :
												td CAR 
											tr
												td.g-blue-clr Fitness Valid upto
												td.g-blue-clr :
												td 6/20/2028
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.parivahan-detail-section.pad0
						.col-md-12.col-xs-12.parivahan-detail-header.pad0
							.col-md-9.col-xs-12.parivahan-detail-section.pad0
								h3 Insurance Details
									span.font-12 by parivahan
							.col-md-3.col-xs-12.process-notok.align-right
								h4
									span Not Found&emsp;
									span.deleteicon
										i.fas.fa-times
							.col-md-12.col-xs-12.parivahan-table-section.pad0
								.col-md-6.col-xs-12.pad0
									table.col-md-12.col-xs-12
										tbody
											tr
												td.g-blue-clr Insurance Type
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr Insurance From
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr Policy NO
												td.g-blue-clr :
												td  Data Not Found
								.col-md-6.col-xs-12.pad0
									table.col-md-12.col-xs-12
										tbody
											tr
												td.g-blue-clr Insurance Company Name
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr Insurance UPTO
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr Insurance Declared Value
												td.g-blue-clr :
												td  Data Not Found
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.parivahan-detail-section.pad0
						.col-md-12.col-xs-12.parivahan-detail-header.pad0
							.col-md-9.col-xs-12.parivahan-detail-section.pad0
								h3 Tax & FC Details
									span.font-12 by parivahan
							.col-md-3.col-xs-12.process-notok.align-right
								h4
									span Not Found&emsp;
									span.deleteicon
										i.fas.fa-times
							.col-md-12.col-xs-12.parivahan-table-section.pad0
								.col-md-6.col-xs-12.pad0
									table.col-md-12.col-xs-12
										tbody
											tr
												td.g-blue-clr Tax Paid Dt
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr Amount
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr Tax Clear Upto
												td.g-blue-clr :
												td  Data Not Found
								.col-md-6.col-xs-12.pad0
									table.col-md-12.col-xs-12
										tbody
											tr
												td.g-blue-clr Receipt Date
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr FC Issue dt.
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr FC Valid up To
												td.g-blue-clr :
												td  Data Not Found
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.parivahan-detail-section.pad0
						.col-md-12.col-xs-12.parivahan-detail-header.pad0
							.col-md-9.col-xs-12.parivahan-detail-section.pad0
								h3 Permit Details
									span.font-12 by parivahan			
							.col-md-3.col-xs-12.process-notok.align-right
								h4
									span Not Found&emsp;
									span.deleteicon
										i.fas.fa-times
							.col-md-12.col-xs-12.parivahan-table-section.pad0
								.col-md-6.col-xs-12.pad0
									table.col-md-12.col-xs-12
										tbody
											tr
												td.g-blue-clr Permit Type
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr Permit Category
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr Service Type
												td.g-blue-clr :
												td  Data Not Found
								.col-md-6.col-xs-12.pad0
									table.col-md-12.col-xs-12
										tbody
											tr
												td.g-blue-clr Route Length
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr No of Trips
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr Permit Domain
												td.g-blue-clr :
												td  Data Not Found
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.parivahan-detail-section.pad0
						.col-md-12.col-xs-12.parivahan-detail-header.pad0
							.col-md-9.col-xs-12.parivahan-detail-section.pad0
								h3 Claims Details - Insurance History			
							.col-md-3.col-xs-12.process-notok.align-right
								h4
									span Not Found&emsp;
									span.deleteicon
										i.fas.fa-times
							.col-md-12.col-xs-12.parivahan-table-section.pad0
								.col-md-6.col-xs-12.pad0
									table.col-md-12.col-xs-12
										tbody
											tr
												td.g-blue-clr Insurer name
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr Registration No
												td  :
												td  Data Not Found
											tr
												td.g-blue-clr Accident Loss Dt
												td.g-blue-clr :
												td  Data Not Found
								.col-md-6.col-xs-12.pad0
									table.col-md-12.col-xs-12
										tbody
											tr
												td.g-blue-clr Total Claim Amt
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr Claim Intimation Dt
												td.g-blue-clr :
												td  Data Not Found
											tr
												td.g-blue-clr Expense Paid
												td.g-blue-clr :
												td  Data Not Found
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.car-image-section.pad0
						.col-md-3.col-xs-6
							include ../svg/car_parts
						.col-md-3.col-xs-6
							include ../svg/car_parts
						.col-md-3.col-xs-6
							include ../svg/car_parts
						.col-md-12.col-xs-12.pad0
							p
								span None
								span.gray-dot
								span.yellow-dot
								span.orange-dot
								span.red-dot
								span Severe
				section.col-md-12.col-xs-12.pad0
					.col-md-6.col-xs-12
						.col-md-12.col-xs-12.pad0.car-parts-section
							span.header Exterior Conditions
							.col-md-12.col-xs-12.pad0
								p.col-md-6.col-xs-12 Grill &emsp;
									span Operational
								p.col-md-6.col-xs-12 Head Light
									span Excellent
								p.col-md-6.col-xs-12 Hood
									span Excellent
								p.col-md-6.col-xs-12 Front Bumber
									span Excellent
								p.col-md-6.col-xs-12 Left Fender
									span Excellent
								p.col-md-6.col-xs-12 Right Fender
									span Excellent
								p.col-md-6.col-xs-12 Right Quarter
									span Excellent
								p.col-md-6.col-xs-12 Left Quarter
									span Excellent
								p.col-md-6.col-xs-12 Front Windshield
									span Excellent
								p.col-md-6.col-xs-12 Right Front Door
									span Excellent
								p.col-md-6.col-xs-12 Left Front Door
									span Excellent
								p.col-md-6.col-xs-12 Right Rear Door
									span Excellent
								p.col-md-6.col-xs-12 Left Rear Door
									span Excellent
								p.col-md-6.col-xs-12 Roof
									span Excellent
								p.col-md-6.col-xs-12 Rear Windshield
									span Excellent
								p.col-md-6.col-xs-12 Rear Tail Light
									span Excellent
								p.col-md-6.col-xs-12 Rear Bumber
									span Excellent
								p.col-md-6.col-xs-12 Body Paints
									span Excellent
								p.col-md-6.col-xs-12 Deck LID
									span Excellent
					.col-md-6.col-xs-12
						.col-md-12.col-xs-12.pad0.car-parts-section
							span.header Interior Conditions
							.col-md-12.col-xs-12.pad0
								p.col-md-12.col-xs-12 Dash Board Conditions &emsp;
									span No Warning Lights ON
								p.col-md-12.col-xs-12 Dash Board Warning Lights & Gauges
									span No Warning Lights ON
								p.col-md-12.col-xs-12 Front Left Seat
									span Satisfactory
								p.col-md-12.col-xs-12 Front Right Seat
									span Satisfactory
								p.col-md-12.col-xs-12 Rear Seat
									span Average
								p.col-md-12.col-xs-12 3Rd Row Seat Cond'S
									span Average
								p.col-md-12.col-xs-12 Trunk Cargo
									span Average
								p.col-md-12.col-xs-12 Air Bag
									span Average
								p.col-md-12.col-xs-12 Carpets & Floor Mats
									span Average
								p.col-md-12.col-xs-12 Power Windows
									span Average
					.col-md-6.col-xs-12
						.col-md-12.col-xs-12.pad0.car-parts-section
							span.header Tyre Conditions
							.col-md-12.col-xs-12.pad0
								p.col-md-12.col-xs-12 No Of Tyres
									span 4
								p.col-md-12.col-xs-12 Front Right Wheel
									span Rim
								p.col-md-12.col-xs-12 Front Left Wheel
									span Rim
								p.col-md-12.col-xs-12 Back Right Wheel
									span Rim
								p.col-md-12.col-xs-12 Back Left Wheel
									span Rim
								p.col-md-12.col-xs-12 Spare Wheel
									span Rim
								p.col-md-12.col-xs-12 Front Right Tyres
									span Need Attentions
								p.col-md-12.col-xs-12 Front Left Tyres
									span Need Attentions
								p.col-md-12.col-xs-12 Back Right Tyres
									span Need Attentions
								p.col-md-12.col-xs-12 Back Left Tyres
									span Need Attentions
								p.col-md-12.col-xs-12 Spare Tyres
									span Need Attentions
								p.col-md-12.col-xs-12 Front Right Tyres
									span 30
								p.col-md-12.col-xs-12 Front Left Tyres
									span 30
								p.col-md-12.col-xs-12 Back Right Tyres
									span 30
								p.col-md-12.col-xs-12 Back Left Tyres
									span 30
					.col-md-6.col-xs-12
						.col-md-12.col-xs-12.pad0.car-parts-section
							span.header Mechanical Functions
							.col-md-12.col-xs-12.pad0
								p.col-md-12.col-xs-12 Engine Conditions
									span Good
								p.col-md-12.col-xs-12 Engine Running
									span Yes
								p.col-md-12.col-xs-12 Engine Oil Level
									span Acceptable
								p.col-md-12.col-xs-12 Engine Oil Functions
									span Acceptable
								.col-md-12.col-xs-12 &emsp;
								.col-md-12.col-xs-12 &emsp;
								p.col-md-12.col-xs-12 Transmission  / Gear Box Conditions
									span Good
								p.col-md-12.col-xs-12 Transmission Working
									span Acceptable
								p.col-md-12.col-xs-12 Gear Shift
									span Acceptable
						.col-md-12.col-xs-12.pad0.car-parts-section
							span.header Suspension
							.col-md-12.col-xs-12.pad0
								p.col-md-12.col-xs-12 Front Suspension
									span Average Conditions consistent with the age and Kms 
								p.col-md-12.col-xs-12 Rear Suspension
									span Average Conditions consistent with the age and Kms
					.col-md-12.col-xs-12
						.col-md-12.col-xs-12.pad0.car-parts-section
							span.header Documents
							.col-md-12.col-xs-12.pad0
								.col-md-6.col-xs-12.pad0
									p.col-md-12.col-xs-12 Reg. Month / Year
										span 22/12/2019
									p.col-md-12.col-xs-12 RC Book
										span Yes
									p.col-md-12.col-xs-12 Insurance
										span Yes
								.col-md-6.col-xs-12.pad0
									p.col-md-12.col-xs-12 Insurance Dt.
										span 22/12/2019
									p.col-md-12.col-xs-12 HPA Status
										span Available
									p.col-md-12.col-xs-12 HPA Bank
										span Hindustan Mahendra kotak bank of india
					.col-md-6.col-xs-12
						.col-md-12.col-xs-12.pad0.car-parts-section
							span.header Stearing Functions
							.col-md-12.col-xs-12.pad0
								p.col-md-12.col-xs-12 Streering Play
									span No Play
								p.col-md-12.col-xs-12 Power Streering
									span Working
								p.col-md-12.col-xs-12 Steering
									span Power
								p.col-md-12.col-xs-12 Streaing Conditions
									span Very Poor
					.col-md-6.col-xs-12
						.col-md-12.col-xs-12.pad0.car-parts-section
							span.header Electrical Functions
							.col-md-12.col-xs-12.pad0
								p.col-md-12.col-xs-12 Electrical Conditions
									span Good
								p.col-md-12.col-xs-12 Battery Conditions
									span Good
								p.col-md-12.col-xs-12 A/C Cooling
									span Good
								p.col-md-12.col-xs-12 Power Windows
									span Good
					.col-md-12.col-xs-12
						.col-md-12.col-xs-12.pad0.car-parts-section
							span.header Paint Depth
							.col-md-12.col-xs-12.pad0
								.col-md-6.col-xs-12.pad0
									p.col-md-12.col-xs-12 Left Fender
										span Good
									p.col-md-12.col-xs-12 Right Fender
										span Good
									p.col-md-12.col-xs-12 Left Quarter
										span Good
									p.col-md-12.col-xs-12 Right Quarter
										span Good
									p.col-md-12.col-xs-12 Roof
										span Good
								.col-md-6.col-xs-12.pad0
									p.col-md-12.col-xs-12 Right Front Door
										span Good
									p.col-md-12.col-xs-12 Left Front Door
										span Good
									p.col-md-12.col-xs-12 Right Rear Door
										span Good
									p.col-md-12.col-xs-12 Left Rear Door
										span Good
				section.col-md-12.col-xs-12
					.col-md-12.col-xs-12.pad0.car-graph-section
						span.header Market Comparison Price Tool
						.col-md-12.col-xs-12.pad0
							.col-md-12.col-xs-12.pad0.title
								.col-md-7.col-xs-12.pad0
									p How this HYUNDAI XCENT CRDI 2017 compares to the market at the date of this report.
								.col-md-2.col-xs-5.pad0.right.bg-light-sky-blue
									.col-md-12.col-xs-12.pad0
										p.diamond.orange-diamond
										span.mg-lt-20 This Vehicle 2017
									.col-md-12.col-xs-12.pad0.mg-tp-15
										p.diamond.blue-diamond 
										span.bg-blue.pd5.pd-lt-20.pd-rt-20.mg-lt-20 2017
							.col-md-12.col-xs-12.pad0
								figure.highcharts-figure
									#container
				section.col-md-12.col-xs-12
					.col-md-12.col-xs-12.pad0.car-remark-section
						.col-md-1.col-xs-12.pad0 
							p.pd-tp-10.font-wt-6 Remarks : 
						.col-md-11.col-xs-12.pad0 
							p.g-blue-clr.pd-tp-10 The inspection is VISIBLE and non-TECHNICAL report only and OTOGRADE VIR DATA TECHNOLOGIES PVT LTD Inspect will not be responsible for any defects that are latent discovered which were not possibly visible during the inspection. The inspection will asses the vehicle’s exterior, interior, engine compartment, tyres and wheels, brakes and under body where possible. The inspection will precisely not pinpoint all defects within the vehicle. You must take in account of age and condition of the vehicle at the time of inspection and any Report should be reviewed in this context. This inspection report of OTOGRADE VIR DATA TECHNOLOGIES PVT LTD generated on (current date) is not responsible for representation regarding the nature, reliability, accuracy of price or completeness of any information contained in the Report or the fitness of the information contained in the Report for any purpose intended by you that are not identified or identifiable with an inspection of this kind.
							p.g-blue-clr.pd-tp-10 *  The odometer reading might vary in real , the mentioned reading was observed during inspection.
							p.g-blue-clr.pd-tp-10 A vehicle is rated to be accidental if it has under gone a crash of any type and have impact on Chassis , structural panels with body dimensions changed and thus effecting the safety & functioning of a vehicle.
				section.col-md-12.col-xs-12
					.col-md-12.col-xs-12.pad0.car-remark-section
						h4.pd-tp-10.font-wt-6 Additional Photos
						.col-md-12.col-xs-12.pad0
							.col-md-12.col-xs-12.pad0.align-center
								img.number-plate(src='/images/number-plate.png')
						.col-md-12.col-xs-12.pad0
							.col-md-4.col-xs-12.pad0.additional-images
								img(src='/images/additional-image1.png')
							.col-md-4.col-xs-12.pad0.additional-images
								img(src='/images/additional-image2.png')
							.col-md-4.col-xs-12.pad0.additional-images
								img(src='/images/additional-image3.png')
						.col-md-12.col-xs-12.pad0
							.col-md-4.col-xs-12.pad0.additional-images
								img(src='/images/additional-image1.png')
							.col-md-4.col-xs-12.pad0.additional-images
								img(src='/images/additional-image2.png')
							.col-md-4.col-xs-12.pad0.additional-images
								img(src='/images/additional-image3.png')
						.col-md-12.col-xs-12.pad0.align-left
							.col-md-2.col-xs-4.pad0.right.mg-rt-30
								h4.pd-tp-10.font-wt-6 Approved By
								img(src='/images/verified_icon.png', width="50%" alt='AdminLTE Logo')
								p.font-wt-6.font-16 C.Anand Kumar
								p Head Digital Inspection
				section.col-md-12.col-xs-12.mg-tp-15.mg-bt-30
					.col-md-12.col-xs-12.pad0
						.col-md-1.col-xs-12.pad0 
							p.pd-tp-10.font-wt-6 Disclaimer : 
						.col-md-11.col-xs-12.pad0 
							p.g-blue-clr.pd-tp-13.font-9  Page disclaimer content will come here