extends ../layout/report-preview-layout 
block content
	.row.mg-0
		.col-md-12.col-xs-12
			.report-view.col-md-12.col-xs-12.pad0
				header.header-info.col-md-12.col-xs-12.pad0
					.logo.col-md-3.col-xs-6
						img.brand-image(src='/images/report-logo.png', height="99%", width= '100%', alt='AdminLTE Logo')
					.customer-section.col-md-9.col-xs-6.pad0
						.header-detail-section.col-md-12.col-xs-12.pad0.align-right
							.col-md-5.col-xs-6.bg-yellow
								p.pd5
									span.font-15 Engine&emsp;:
									span.header-value F875MDKSLS65823
							.col-md-7.col-xs-6.bg-blue
								p.pd5
									span.font-15 Chassis&emsp;:
									span.header-value MAKD907NKLDS75MDKSLS65823
						.header-detail.col-md-12.col-xs-12.pad0.align-right.bg-light-sky-blue
							.col-md-3.col-xs-6.pad0
								p &emsp;
								p
									span.font-15 Report ID&emsp;:
									span.description 45123
							.col-md-4.col-xs-6.pad0
								p &emsp;
								p
									span.font-15 Loan No &emsp;:
									span.description DKSLS65823
							.col-md-5.col-xs-6
								p
									span.font-15 Inspection Date &emsp;:
									span.description 13/11/2019
								p
									span.font-15 Location &emsp;:
									span.description chennai
				section.vechile-info.col-md-12.col-xs-12.pad0
					.col-md-12.col-xs-12
						p.align-right.pd-tp-10
							span.about-me MR.ARUNKUMAR
							span.about-me Insurance surveyor
							span.about-me License No : IRDA / IND / SLA - 123456
					.col-md-12.col-xs-12.vehicle-description
						p.col-md-3.col-xs-6.font-18 Vehicle Description
						h2.col-md-9.col-xs-6.align-right Your Otograde Electronic Inspection Report
				section.vehicle-description.col-md-12.col-xs-12.pad0
					.col-md-12.col-xs-12.bg-light-sky-blue.align-center
						h2 2011/03 Maruti Alto LXI 800cc  TN02 AR 6903
					.col-md-12.col-xs-12.vehicle-info-detail.pad0
						.col-md-5.col-xs-12.pad0
							span.col-md-3.col-xs-12.font-wt-6 23079 : KM
							span.col-md-2.col-xs-12 Manual
							span.col-md-3.col-xs-12 RC : Yes
							span.col-md-4.col-xs-12 Power Steering
						.col-md-7.col-xs-12.pad0
							span.col-md-2.col-xs-12 Hard Top
							span.col-md-4.col-xs-12 Ins.Dt : 23/11/2019
							span.col-md-4.col-xs-12 Reg.Dt : 23/11/2019
							span.col-md-2.col-xs-12.font-wt-6.align-right Retail
					.col-md-12.col-xs-12.vehicle-info-detail.pad0.align-center
						.col-md-5.col-xs-12.pad0
							p.col-md-12.col-xs-12.font-wt-6 Application Name : AKKKKKKKKK KUMAR
						.col-md-6.col-xs-12.pad0
							p.col-md-12.col-xs-12.font-wt-6 Lender : Mahindra Finance
						.col-md-1.col-xs-12.pad0
							p.col-md-12.col-xs-12.font-wt-6.align-right Private
				section.report-image-section.col-md-12.col-xs-12.pad0
					.image-view-section.col-md-6.col-xs-12.pd-lt-0
						img(src='/images/sample-image.png', height="100%", width= '100%', alt='AdminLTE Logo')
					.image-view-section.col-md-6.col-xs-12
						.col-md-12.col-xs-12.pad0
							.icon-image
								img(src='/images/car-icon.png')
								p Running Condition
							.icon-image
								img(src='/images/car-engine.jfif')
								p Engine Start
							.icon-image
								img(src='/images/car-demage.png')
								p Major Accident in Front
							.icon-image
								img(src='/images/car-icon.png')
								p No Damages
							.icon-image
								img(src='/images/owner.png', alt='AdminLTE Logo')
								p Single Owner
							.icon-image
								img(src='/images/key.jfif', alt='AdminLTE Logo')
								p Available
							.icon-image
								img(src='/images/tyres.jpg', alt='AdminLTE Logo')
								p Average
							.icon-image
								img(src='/images/diesel.png', alt='AdminLTE Logo')
								p Diesel
							.icon-image
								img(src='/images/battery.png', alt='AdminLTE Logo')
								p Diesel
							.icon-image
								img(src='/images/car-paint.jfif', alt='AdminLTE Logo')
								p Color : Silver
						.col-md-12.col-xs-12.pad0.bg-light-sky-blue.mg-tp-10
							.col-md-6.col-xs-6
								h4 Overall Conditions :
							.col-md-6.col-xs-6.align-right
								h4 Good Working Condition
						.col-md-12.col-xs-12.pad0.bg-light-sky-blue.mg-tp-20
							.col-md-6.col-xs-6
								h3 Valuation Price :
							.col-md-6.col-xs-6.align-right
								h3 10,00,000/-
						.col-md-12.col-xs-12.pad0.bg-light-sky-blue.mg-tp-20
							.col-md-6.col-xs-6
								h3 Ex Show Room Price :
							.col-md-6.col-xs-6.align-right
								h3 5,00,000/-
								h5 20/12/2019
						.col-md-12.col-xs-12.pad0.bg-light-sky-blue.mg-tp-20
							.col-md-6.col-xs-6
								h4 Police Reocrd :
							.col-md-6.col-xs-6.align-right
								h4 
									span.clr-red Not Found&emsp;
									span.deleteicon
										i.fas.fa-times 
				section.col-md-12.col-xs-12
					.col-md-12.col-xs-12.rating-image-section.pad0.mg-tp-10
						.col-md-6.col-xs-12.pad0
							.col-md-3.col-xs-12.pad0
								p.pd-bt-10 Interior
								img(src='/images/verygood-icon.png', alt='AdminLTE Logo')
							.col-md-3.col-xs-12.pad0
								p.pd-bt-10 Exterior
								img(src='/images/good-icon.png', alt='AdminLTE Logo')
							.col-md-3.col-xs-12.pad0
								p.pd-bt-10 AC/Cooling
								img(src='/images/average-icon.png', alt='AdminLTE Logo')
							.col-md-3.col-xs-12.pad0
								p.pd-bt-10 Document
								img(src='/images/bad-icon.png', alt='AdminLTE Logo')
						.col-md-6.col-xs-12.pad0
							.col-md-3.col-xs-12.pad0
								p.pd-bt-10 Vehicle Condition
								img(src='/images/verygood-icon.png', alt='AdminLTE Logo')
							.col-md-3.col-xs-12.pad0
								p.pd-bt-10 Test Drive
								img(src='/images/good-icon.png', alt='AdminLTE Logo')
							.col-md-3.col-xs-12.pad0
								p.pd-bt-10 Tyre
								img(src='/images/average-icon.png', alt='AdminLTE Logo')
							.col-md-3.col-xs-12.pad0
								p.pd-bt-10 Electric Functions
								img(src='/images/bad-icon.png', alt='AdminLTE Logo')
						.col-md-12.col-xs-12.align-left.pd-tp-10
							p.clr-gray Excellent : 5    Good : 4.    Average :3.    Fair : 2.    Very Por : 1.    Scrap : S
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.ownership-detail-section.pad0
						table.col-md-12.col-xs-12
							thead
								tr
									th.col-md-6.col-xs-6
										h3 OTOgrade Ownership History
										p The number of owners is estimated
									th.col-md-2.col-xs-2
										h3 Owner 1
									th.col-md-2.col-xs-2
										h3 Owner 2
									th.col-md-2.col-xs-2 
										h3 Owner 3
							tbody
								tr
									td  Year Purchased
									td  2011
									td  No Data
									td  No Data
								tr
									td  Type of Owner
									td  Private
									td  No Data
									td  No Data
								tr
									td  Estimated years of Ownership
									td   08 Years
									td  No Data
									td  No Data
								tr
									td  Hypotheciation Bank Name
									td  Private
									td  No Data
									td  No Data
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.parivahan-detail-section.pad0
						.col-md-12.col-xs-12.parivahan-detail-header.pad0
							.col-md-9.col-xs-10.parivahan-detail-section.pad0
								h3 PARIVAHAN details
							.col-md-3.col-xs-2.process-ok.align-right
								h4
									span Data Found&emsp;
									span.tickicon
										i.fas.fa-check
							.col-md-12.col-xs-12.align-center.pad0.br-blue
								h5 National Register e Services / Vehicle Details Showing in Registering Authority
							.col-md-12.col-xs-12.pad0.parivahan-table-section
								.col-md-6.col-xs-12
									table.col-md-12.col-xs-12
										tbody
											tr
												td  Owner Name
												td  :
												td  SUGUNA SEELA RAO K
											tr
												td  Purchase Deivery Date
												td  :
												td  6/21/2011
											tr
												td  Maker
												td  :
												td  MARUTI
											tr
												td  Maker Model
												td  :
												td  ALTO LXI
											tr
												td  Laden Weight (kG)
												td  :
												td  0
											tr
												td  Sleeper Capacity
												td  :
												td  - 
											tr
												td  Registrations Date
												td  :
												td  6/21/2011
								.col-md-6.col-xs-12.pd-lt-0
									table.col-md-12.col-xs-12
										tbody
											tr
												td  Engine NO
												td  :
												td  SUGUNA SEELA RAO K
											tr
												td  Body Type
												td  :
												td  -
											tr
												td  Unladen Weight
												td  :
												td  0
											tr
												td  Mfg Year
												td  :
												td  6/20/2016
											tr
												td  Chassis NO
												td  :
												td  12
											tr
												td  Vehicle  Category
												td  :
												td  CAR 
											tr
												td  Fitness Valid upto
												td  :
												td  6/20/2028
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.parivahan-detail-section.pad0
						.col-md-12.col-xs-12.parivahan-detail-header.pad0
							.col-md-9.col-xs-10.parivahan-detail-section.pad0
								h3 Insurance Details By Parivahan
							.col-md-3.col-xs-2.process-notok.align-right
								h4
									span Not Found&emsp;
									span.deleteicon
										i.fas.fa-times
							.col-md-12.col-xs-12.pad0.parivahan-table-section
								.col-md-6.col-xs-12
									table.col-md-12.col-xs-12
										tbody
											tr
												td  Insurance Type
												td  :
												td  Data Not Found
											tr
												td  Insurance From
												td  :
												td  Data Not Found
											tr
												td  Policy NO
												td  :
												td  Data Not Found
								.col-md-6.col-xs-12.pd-lt-0
									table.col-md-12.col-xs-12
										tbody
											tr
												td  Insurance Company Name
												td  :
												td  Data Not Found
											tr
												td  Insurance UPTO
												td  :
												td  Data Not Found
											tr
												td  Insurance Declared Value
												td  :
												td  Data Not Found
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.parivahan-detail-section.pad0
						.col-md-12.col-xs-12.parivahan-detail-header.pad0
							.col-md-9.col-xs-10.parivahan-detail-section.pad0
								h3 Tax & FC Details By Parivahan				
							.col-md-3.col-xs-2.process-notok.align-right
								h4
									span Not Found&emsp;
									span.deleteicon
										i.fas.fa-times
							.col-md-12.col-xs-12.pad0.parivahan-table-section
								.col-md-6.col-xs-12
									table.col-md-12.col-xs-12
										tbody
											tr
												td  Tax Paid Dt
												td  :
												td  Data Not Found
											tr
												td  Amount
												td  :
												td  Data Not Found
											tr
												td  Tax Clear Upto
												td  :
												td  Data Not Found
								.col-md-6.col-xs-12.pd-lt-0
									table.col-md-12.col-xs-12
										tbody
											tr
												td  Receipt Date
												td  :
												td  Data Not Found
											tr
												td  FC Issue dt.
												td  :
												td  Data Not Found
											tr
												td  FC Valid up To
												td  :
												td  Data Not Found
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.parivahan-detail-section.pad0
						.col-md-12.col-xs-12.parivahan-detail-header.pad0
							.col-md-9.col-xs-10.parivahan-detail-section.pad0
								h3 Tax & FC Details By Parivahan				
							.col-md-3.col-xs-2.process-notok.align-right
								h4
									span Not Found&emsp;
									span.deleteicon
										i.fas.fa-times
							.col-md-12.col-xs-12.pad0.parivahan-table-section
								.col-md-6.col-xs-12
									table.col-md-12.col-xs-12
										tbody
											tr
												td  Tax Paid Dt
												td  :
												td  Data Not Found
											tr
												td  Amount
												td  :
												td  Data Not Found
											tr
												td  Tax Clear Upto
												td  :
												td  Data Not Found
								.col-md-6.col-xs-12.pd-lt-0
									table.col-md-12.col-xs-12
										tbody
											tr
												td  Receipt Date
												td  :
												td  Data Not Found
											tr
												td  FC Issue dt.
												td  :
												td  Data Not Found
											tr
												td  FC Valid up To
												td  :
												td  Data Not Found
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.parivahan-detail-section.pad0
						.col-md-12.col-xs-12.parivahan-detail-header.pad0
							.col-md-9.col-xs-10.parivahan-detail-section.pad0
								h3 Permit Details By Parivahan				
							.col-md-3.col-xs-2.process-notok.align-right
								h4
									span Not Found&emsp;
									span.deleteicon
										i.fas.fa-times
							.col-md-12.col-xs-12.pad0.parivahan-table-section
								.col-md-6.col-xs-12
									table.col-md-12.col-xs-12
										tbody
											tr
												td  Permit Type
												td  :
												td  Data Not Found
											tr
												td  Permit Category
												td  :
												td  Data Not Found
											tr
												td  Service Type
												td  :
												td  Data Not Found
								.col-md-6.col-xs-12.pd-lt-0
									table.col-md-12.col-xs-12
										tbody
											tr
												td  Route Length
												td  :
												td  Data Not Found
											tr
												td  No of Trips
												td  :
												td  Data Not Found
											tr
												td  Permit Domain
												td  :
												td  Data Not Found
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.parivahan-detail-section.pad0
						.col-md-12.col-xs-12.parivahan-detail-header.pad0
							.col-md-9.col-xs-10.parivahan-detail-section.pad0
								h3 Claims Details - Insurance History			
							.col-md-3.col-xs-2.process-notok.align-right
								h4
									span Not Found&emsp;
									span.deleteicon
										i.fas.fa-times
							.col-md-12.col-xs-12.pad0.parivahan-table-section
								.col-md-6.col-xs-12
									table.col-md-12.col-xs-12
										tbody
											tr
												td  Insurer name
												td  :
												td  Data Not Found
											tr
												td  Registration No
												td  :
												td  Data Not Found
											tr
												td  Accident Loss Dt
												td  :
												td  Data Not Found
								.col-md-6.col-xs-12.pd-lt-0
									table.col-md-12.col-xs-12
										tbody
											tr
												td  Total Claim Amt
												td  :
												td  Data Not Found
											tr
												td  Claim Intimation Dt
												td  :
												td  Data Not Found
											tr
												td  Expense Paid
												td  :
												td  Data Not Found
				section.col-md-12.col-xs-12.mg-tp-10
					.col-md-12.col-xs-12.car-image-section.pad0
						.col-md-4.col-xs-12
							img(src='/images/car-first-image.png')
						.col-md-4.col-xs-12
							img(src='/images/car-second-image.png')
						.col-md-4.col-xs-12
							img(src='/images/car-third-image.png')
						.col-md-12.col-xs-12.pad0
							p
								span None
								span.gray-dot
								span.yellow-dot
								span.orange-dot
								span.red-dot
								span Severe
