script(src='/plugins/jquery/jquery.min.js')
script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
script(src='/dist/js/adminlte.js')
script(src='/dist/js/demo.js')
script(src='/plugins/jquery-mousewheel/jquery.mousewheel.js')
script(src='/plugins/raphael/raphael.min.js')
script(src='/plugins/jquery-mapael/jquery.mapael.min.js')
script(src='/plugins/jquery-mapael/maps/usa_states.min.js')
script(src='/plugins/chart.js/Chart.min.js')
script(src='/plugins/select2/js/select2.full.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js')
script(src='/plugins/moment/moment.min.js')
script(src='/plugins/inputmask/min/jquery.inputmask.bundle.min.js')
script(src='/javascript/common.js')
