nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  ul.navbar-nav
    li.nav-item
      a.nav-link(data-widget='pushmenu', href='#')
        i.fas.fa-bars
  ul.navbar-nav.ml-auto
    li.nav-item.dropdown
      a.nav-link(data-toggle='dropdown', href='#')
        i.far.fa-bell
        span.badge.badge-warning.navbar-badge 15
      .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
        span.dropdown-item.dropdown-header 15 Notifications
        .dropdown-divider
        a.dropdown-item(href='#')
          i.fas.fa-envelope.mr-2
          |  4 new messages
          span.float-right.text-muted.text-sm 3 mins
        .dropdown-divider
        a.dropdown-item(href='#')
          i.fas.fa-users.mr-2
          |  8 friend requests
          span.float-right.text-muted.text-sm 12 hours
        .dropdown-divider
        a.dropdown-item(href='#')
          i.fas.fa-file.mr-2
          |  3 new reports
          span.float-right.text-muted.text-sm 2 days
        .dropdown-divider
        a.dropdown-item.dropdown-footer(href='#') See All Notifications
    li.nav-item.dropdown
      a.nav-link.user-panel(data-toggle='dropdown', href='#')
        img.img-circle(src='/dist/img/user2-160x160.jpg', alt='User Image')
        span.hidden-xs &emsp;User Name
      .dropdown-menu.dropdown-menu-lg.dropdown-menu-right.user-profile
        .dropdown-divider
        a.dropdown-item(href='#')
          i.fas.fa-user.mr-2
          |  My Profile
        .dropdown-divider
        a.dropdown-item.dropdown-footer(href='#') Logout
