meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='x-ua-compatible', content='ie=edge')
title OTO GRADE
link(rel='stylesheet', href='/plugins/fontawesome-free/css/all.min.css')
link(rel='stylesheet', href='/plugins/manual-plugins/bootstrap.css')
link(rel='stylesheet', href='/plugins/manual-plugins/bootstrap.min.css')
link(rel='stylesheet', href='/plugins/manual-plugins/box-model.css')
link(rel='stylesheet', href='/css/report-preview.css')